extends menu

block charts_view
  script.
    $(document).ready(function(){
      var lineChart = $.jqplot ('lineChart', [
        !{chartdata}
      ], {
        title: '#{settings.locale.charts_market_cap} / #{settings.locale.charts_usd}',
        axesDefaults: {
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },
        seriesColors: ['#23B852'],
        seriesDefaults: {
            rendererOptions: {
                smooth: true
            },
            markerOptions: {
              show: false
            }
        },
        grid: {
            borderWidth: 0,
            gridLineColor: '#2a2a3d',
            gridLineWidth: 1,
            borderColor: '#2a2a3d'
        },
        axes: {
          xaxis:{
            renderer: $.jqplot.DateAxisRenderer,
            tickOptions:{formatString:'%b %#d'},
            min: 'September 28, 2016'
          },
          yaxis: {
            label: "#{settings.locale.charts_usd}",
            min: 0
          }
        }
      });
      $(window).resize(function () {
        lineChart.replot( { resetAxes: false } );
      });
    });

  .col-xs-12.col-md-10.col-md-offset-1(style="margin-bottom: 5%")
    div#lineChart(style="width:100%;height:455px;margin:0px;")
